.hero-section {
  width: 100%;
  height: 100vh;
  position: relative;

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  color: wheat;
  /* background-color: yellow; */
}

.hero-section .bg-video {
  width: 100%;
  height: 100vh;
}

.hero-section .social-ico {
  position: absolute;
  right: 3%;
  z-index: 2;
}

.hero-section .social-ico div {
  margin-top: 15px;
}

.hero-section .page-scrollbar {
  position: absolute;
  z-index: 2;
  left: 3%;
}
